<html>
<body>
<p>The current time is <%= new Date() %>!</p>

<form action="/AddNewBuddy" method="post">
  What is your name? <input type="text" name="name" value=" " />
  
  <input type="submit" name="AddNewBuddy" value="Add New Buddy" />
</form>
</body>
</html>

